.sobre__titulo {
    text-align: left;
}

.sobre__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre__foto {
    width: 136px;
    height: 136px;
}

.sobre__nome {
    margin: 5px 0;
}

.sobre__sobrenome {
   font-style: italic; 
   font-weight: 400;
   margin: 5px 0;
}

.sobrenome-emoji {
    font-style: normal;
}

.sobre__texto {
    text-align: justify;
}

.sobre__botoes-sociais {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
}

.sobre__btn {
    margin: 20px 20px;
}